@model DataTable
@using System.Data

<div class="pagetitle">
    <h1>Quiz List</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Quiz</li>
            <li class="breadcrumb-item active">Quiz List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Quiz</h5>
                <!-- No Labels Form -->
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Quiz Name</label>
                        <input type="text" class="form-control border border-dark" placeholder="Quiz Name">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Min Question</label>
                        <input type="text" class="form-control border border-dark" placeholder="Min Question">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">Max Question</label>
                        <input type="text" class="form-control border border-dark" placeholder="Max Question">
                    </div>
                     <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">From Quiz Date</label>
                        <input type="date" class="form-control border border-dark" placeholder="Quiz Date">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlInput1" class="form-label">To Quiz Date</label>
                        <input type="date" class="form-control border border-dark" placeholder="Quiz Date">
                    </div>
                    <div class="text-start">
                        <button type="submit" class="btn btn-success">Search</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form><!-- End No Labels Form -->
                <br>
                <h2 class="card-title">Quiz List</h2>
                 <div class="text-danger">
                        @{
                                if (@TempData["SuccessMessage"] != null)
                                {
                                     <p>@TempData["SuccessMessage"]</P>
                                }
                                 if (@TempData["ErrorMessage"] != null)
                                 {
                                      <p>@TempData["ErrorMessage"]</P>
                                 }
                        }
                 </div>
                <div class="d-flex p-3 justify-content-end">
                    <a asp-action="QuizForm" asp-controller="Quiz" class="btn btn-primary w-20">
                        <i class="bi bi-plus"></i> Add Quiz
                    </a>
                </div>
                <table class="table datatable">

                    <thead>
                        <tr>
                            <th>Quiz Name</th>
                            <th>Total Question</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Quiz Date</th>
                            <th>User Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                            <tr>
                                <td>@row["QuizName"]</td>
                                <td>@row["TotalQuestions"]</td>
                                <td>@row["QuizDate"]</td>
                                <td>@row["UserName"]</td>
                                <td>
                                    <a asp-controller="Quiz" asp-action="QuizForm" asp-route-QuizID="@row["QuizID"]" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></a>
                                    <a asp-action="QuizDelete" asp-route-QuizID="@row["QuizID"]" onclick="confirmDelete()" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>   
                            
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    function confirmDelete() {
        return confirm("Are you Sure! You want to Delete this record from Quiz?")
    }
</script>
